@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600");
html {
  margin: 0;
  padding: 0;
}

body {
  background: url("../images/bg.jpg") fixed center;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.navbar {
  font-family: "Raleway", sans-serif;
  background-color: black !important;
}

.navbar .navbar-brand {
  color: snow;
  font-size: 1.05rem;
  font-weight: 500;
}

.navbar .Menu {
  color: gray;
  background-color: inherit !important;
  font-size: 0.95rem;
  font-weight: 500;
  padding-bottom: 0.05rem;
}

.navbar .Menu:hover {
  color: white;
}

.navbar .Menu:hover .button div {
  background-color: white;
}

.navbar .button div {
  width: 13px;
  height: 2.5px;
  background-color: gray;
  margin: 2px 8px;
  border-radius: 0.5px;
}

.navbar #navbarNav a {
  color: gray;
}

.navbar #navbarNav a:hover {
  color: white;
}

.Welcome {
  position: relative;
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  border-radius: 0;
  margin: 0;
  padding: 7rem 0;
}

.Welcome video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  /*-ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);*/
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.Welcome .container {
  position: relative;
  z-index: 2;
}

.Welcome .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #d4073a;
  background: -webkit-gradient(linear, left top, right top, color-stop(24%, #981a3a), color-stop(64%, #0b0003));
  background: linear-gradient(90deg, #981a3a 24%, #0b0003 64%);
  opacity: 0.8;
  z-index: 1;
}

.Welcome h1 {
  font-size: 4rem;
  margin-top: 7rem;
}

.Welcome p {
  font-weight: 400 !important;
  color: #b1a9a9;
  padding: 0 8rem;
}

.Main {
  position: relative;
  width: 100%;
}

.Main .Overlay2 {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background: white;
  opacity: 0.95;
  z-index: 2;
}

.Main .Content {
  margin: 0;
  position: relative;
  z-index: 3;
  padding: 8rem 0;
}

.Main .First {
  padding: 0 17rem;
}

.Main .First h1 {
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.Main .First p {
  font-weight: 200;
}

.Main .Cards {
  margin: 2rem 0 6rem 0;
  padding: 0 4rem;
}

.Main .Cards .card {
  margin: 1rem 0.8rem;
  padding: 3rem 1.5rem 3rem 1.5rem;
  border: none;
  -webkit-box-shadow: 1px 1px 8px;
          box-shadow: 1px 1px 8px;
}

.Main .Cards .card .card-body h6 {
  font-size: 1.2rem;
}

.Main .Cards .card .Size {
  font-size: 3.8rem;
  color: #be1111;
  margin-bottom: 1rem;
}

.Main .Cards .card h6 {
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem;
}

.Main .Cards .card p {
  font-weight: 300;
  font-size: 1.2rem;
}

.Main .Banner {
  height: 40vh;
  width: 100%;
  position: relative;
  background-image: url("../images/cta01.jpg");
  background-size: 110% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  margin: 2rem 0;
  padding: 0;
}

.Main .Banner .Overlay3 {
  position: absolute;
  background-color: red;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0.2;
}

.Main .Banner .container {
  position: relative;
  padding: 5rem 4rem;
}

.Main .Banner .container h1 {
  font-weight: 200;
  font-size: 2rem;
  color: white;
  padding-bottom: 1rem;
}

.Main .Banner .container p {
  font-size: 1.1rem;
  color: #cfcccc;
  text-shadow: 1px 1px 3px black;
}

.Main .Team {
  padding: 0;
  margin: 0;
}

.Main .Team .title {
  padding: 0 14rem;
}

.Main .Team .title h1 {
  padding-top: 5rem;
  font-weight: 300;
  font-size: 2.2rem;
  color: #575656;
}

.Main .Team .title p {
  padding-top: 1rem;
  font-weight: 300;
}

.Main .Team .Team-c {
  padding: 3rem 8rem;
}

.Main .Team .card {
  padding: 2.3rem 2.3rem 0.8rem 2.3rem;
  margin: 0 0.6rem 2rem 0.6rem;
}

.Main .Team .card .card-title div {
  background-color: #bebebe;
  height: 9rem;
  width: 1.5rem;
}

.Main .Team .card .card-title p {
  position: relative;
  font-style: italic;
  font-size: 1.1rem;
  font-weight: 300;
  top: 1.4rem;
  padding-left: 1.6rem;
}

.Main .Team .card img {
  position: relative;
  left: -1.8rem;
  height: 3.5rem;
}

.Main .Team .card .John {
  position: relative;
  left: -1rem;
  margin-right: 1rem;
}

.Main .Team .card .card-body p {
  position: relative;
  top: 1rem;
  font-size: 0.8rem;
}

.Main .Team .card .card-body p a {
  color: red;
  font-weight: 500;
  cursor: default;
}

.Main .Team .card .card-body p a:hover {
  text-decoration: none;
}

.Footer {
  height: 70vh;
  width: 100%;
  padding: 6rem;
  color: white;
  background-color: black;
}

.Footer h1 {
  font-weight: 400;
  font-size: 1rem;
  padding-bottom: 1rem;
}

.Footer .Sec {
  margin: 0 2rem;
}

.Footer .Info {
  font-size: 1rem;
  font-weight: 200;
  width: 40%;
}

.Footer .Info p {
  color: #9e9d9d;
}

.Footer .Table {
  padding: 0 1rem;
}

.Footer .Table hr {
  background-color: gray;
  height: 0.02rem;
  width: 13rem;
  margin: 0.6rem;
}

.Footer .Table a {
  text-decoration: none;
  color: #929191;
}

.Footer .Table a:hover {
  color: #ad0606;
}

.Footer .Social {
  padding-left: 2rem;
}

.Footer .Social .btn {
  margin: 0;
  padding: 0;
}

.Footer .Social a {
  text-decoration: none;
  color: #929191;
  margin: 2rem;
}

.Footer .Social .btn:hover a {
  color: #ad0606;
}

.Footer .Copyright {
  font-size: 0.8rem;
}

.Footer .Line hr {
  background-color: gray;
  height: 0.01rem;
  width: 100%;
  margin: 0.6rem;
}
/*# sourceMappingURL=main.css.map */